google-adk>=1.2.1
a2a-sdk==0.2.8
httpx>=0.28.1
langchain-google-genai>=2.0.10
langgraph>=0.3.18
pydantic>=2.10.6
python-dotenv>=1.1.0
uvicorn>=0.34.2
nest-asyncio>=1.6.0
langchain-core==0.3.77
langchain-google-community==2.0.7
google-auth-oauthlib==1.2.2
langchain_mcp_adapters
requests==2.32.5
neo4j==6.0.3
fastapi==0.122.0
click==8.1.8

